@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IndexViewModel
@{
    ViewData["Title"] = "Selected BluRay Page";
}
<div class="text-center">
    <div>
    titre : @Model.SelectedBluRay.Titre
    </div>
    <div>
    Scenariste : @Model.SelectedBluRay.Scenariste.Nom @Model.SelectedBluRay.Scenariste.Prenom
    </div>
    <div>
    Realisateur : @Model.SelectedBluRay.Realisateur.Nom @Model.SelectedBluRay.Realisateur.Prenom
    </div>
    <div>
        Acteurs : @foreach (var act in Model.SelectedBluRay.Acteurs)
        {
            <div>nom :  @act.Nom</div>
            <div>prenom :  @act.Prenom</div>
        }
    </div>
    <div>
    Duree : @Model.SelectedBluRay.Duree.ToString()
    </div>
    <div>
    Date de sortie : @Model.SelectedBluRay.DateSortie?.ToShortDateString()
    </div>
    <div>
        Langues : @foreach (var lg in Model.SelectedBluRay.Langues)
        {
            <div>@lg</div>
        }
    </div>
    <div>
        Sous Titre : @foreach (var st in Model.SelectedBluRay.SsTitres)
        {
            <div>@st</div>
        }
    </div>
    <div>
    Version : @Model.SelectedBluRay.Version
    </div>

    <div>
        <form method="post" asp-controller="Home" asp-action="Index" asp-route-id="@Model.SelectedBluRay.Id">
            <input type="submit" value="Supprimer" />
        </form>
    </div>

    <div>
        <form method="post" asp-controller="Home" asp-action="Index">
            <input type="submit" value="Retour" />
        </form>
    </div>
</div> 